/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Clarfix */
.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

/* Layout Elements */

html { height: 100%; }

body {
  background: #0078AE;
  background-image: url('/assets/bright-squares.png');
  font-family: 'Open Sans', sans-serif;
  height: 93%;
}

#container {
  width: 100%;
  max-width:1000px;
  height: 100;
  min-height: 100%;
  background-color: rgba(255,255,255,1);
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
}

#flash{
  background-color: rgba(255,255,255,0.6);
  border-radius: 10px;
  border: 1 solid black;
  padding-left: 15px;
}

h1, h2{
  border-bottom: 2px solid;
}

a {
  color: black;
}

a:hover {text-decoration:underline;}

.right{
  float: right;
}

.left{
  float: left;
}

.inlineblock{
  display: inline-block;
}

.center{
  margin: 0 auto;
}

.tc{
  text-align: center;
}

/* Project Specific Style*/

a.new_button {
  color: white;
  background-color: #8B0000;
  text-decoration:none;
  padding: 7px 15px;
  margin: -6px 4px;
  border-radius: 5px;
}

a.submit {
  background-color: #63aa24;
}