<h1>Welcome! Please Select Your Organization</h1>
<h3 class="transparent">Organizations</h3>

<div id="sponsors" class="clear">
  <!-- Supporting Sponsor Logos -->
  <a href="#" id="hudl" class="logo col" data-name="hudl">Hudl</a>
  <a href="#" id="ocs" class="logo col2" data-name="ocs">Omaha Code School</a>
  <a href="#" id="lemonly" class="logo col" data-name="lemonly">Lemonly</a>
  <a href="#" id="flywheel" class="logo col" data-name="flywheel">FlyWheel</a>
  <a href="#" id="swanrus" class="logo col" data-name="swanrus">Swanson Russell</a>
  <a href="#" id="agape" class="logo col" data-name="agape">Agape Red</a>
  <a href="#" id="west" class="logo col" data-name="west">West</a>
  <a href="#" id="lyconic" class="logo col" data-name="lyconic">Lyconic</a>
  <a href="#" id="es" class="logo col" data-name="es">Ervin and Smith</a>
  <a href="#" id="mtrl" class="logo col" data-name="mtrl">MTRL</a>
  <a href="#" id="bwb" class="logo col" data-name="bwb">Big Wheel Brigade</a> </div>

<div id="checkin_div">
  <%= render :partial => "form" %>
</div>

<h3 class="error">Organization, Name, and Title are required.</h3>
<h3 class="success">Checked In Successfully.</h3>